{% extends "layouts/skeleton.html" %}

{% block navbar %}

  <a class="nav-item nav-link active"
     href="#nav-main"
     id="nav-tab-main"
     data-toggle="tab"
     aria-controls="nav-main"
     aria-selected="true"
     role="tab">Main</a>

  {% for dev,coms in data.all_devices.items()  %}
    <a class="nav-item nav-link"
      id="nav-tab-{{ dev }}" 
      data-toggle="tab" 
      href="#nav-{{ dev }}" 
      aria-controls="nav-{{ dev }}"
      aria-selected="false"
      role="tab" >
      {{ dev }}</a>
  {% endfor %}

{% endblock navbar %}

{% block content %}

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-tab-main">
    <div class='container-flow'>
    {% for device in data.devices %}
      <!-- Row -->
      <div class='row justify-content-center'>
      {% for dev, cmd, img in device %}
        <div class='col-4 col-sm-3 col-xl-2'>
          <a href="#x" onclick="$.ajax('{{ url_for('send', device=dev, command=cmd) }}');">
            <img src="{{ url_for('static', filename='img/'+img) }}" alt="{{dev}} {{cmd}}" class="img-thumbnail" style="min-width: 100px;" />
          </a>
        </div>
      {% endfor %}
      </div> <hr>
    {% endfor %}
    </div>
  </div>

  {% for dev, coms in data.all_devices.items()  %}
  <div class="tab-pane fade show"
    id="nav-{{ dev }}" role="tabpanel" aria-labelledby="nav-tab-{{ dev }}">
    <ul>
      {% for com in coms | sort %}
        <li>
          <a href="#" onclick="$.ajax('{{ url_for('send', device=dev, command=com) }}');">{{ com }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

</div>

{% endblock content %}
